<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <style>
    p {
     font-style: italic;
     font-size: 14pt;
      }
    a {
     text-decoration : none
      }
    </style>
</head>
<body>
<table>
    <caption></caption>
    <tr>
        <td>
            <h4>Set the date</h4>
        </td>
        <td>
            <form method="post">
                <input type="date" name="set_date" value="{{ request.form['set_date'] }}">
                <input type="hidden" name="data_update" value="">
                <button type="submit">Submit</button>
            </form>
        </td>
        <td width="150">
        </td>
        <td>
            <form method="post">
                <input type="hidden" name="data_update" value="data_update">
                <button type="submit">Data update</button>
            </form>
        </td>
        <td width="200">
        </td>
        <td>
        <a href="{{ url_for('delete') }}">Test</a>
        </td>
    </tr>
</table>
<div>
{% block content %} {% endblock %}
</div>
</body>
</html>