{% extends 'start_page.html' %}
{% block title %} Data received from database {% endblock %}
{% block content %}
<h4>{% block first_line %} Data received from database: {{date_time}} {% endblock %}</h4>
<table border="1" bgcolor="#F3F2F2">
    <caption></caption>
    <tr>
        <td>#</td>
        <td>request date</td>
        <td>date</td>
        <td>valute id</td>
        <td>numcode</td>
        <td>charcode</td>
        <td>nominal</td>
        <td>name</td>
        <td>value</td>
    </tr>
<tr></tr>
{% for item in data %}
<tr><td>{{data.index(item)+1}}</td>
    {% for column in range(8) %}
    <td>{{item[column]}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}