{% extends 'base_page.html' %}
{% block title %} Daily currency exchange rates {% endblock %}
{% block content %}
<p>This application using <a title="https://www.cbr.ru/development/SXML/" href="https://www.cbr.ru/development/SXML/">API</a> gets data about <strong>daily currency exchange rates for current month</strong> and store it into database.<br>
Outputs the data from the database by date (the date is set) in form of a table and sort them by Name in ascending order.<br>
The data is updated on demand (by clicking on the Data update button).</p>
{% endblock %}